<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'title: ' + ${event.title}" />
    <p th:text="'description: ' + ${event.description}" />
<!--     <p th:text="'type: ' + ${event.type}" /> -->
    <p th:text="'date ' + ${event.date}" />
    
    <a href="/events">Events</a>
    <a href="/">Home</a>
</body>
</html>