<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
	
	
	 <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Date</th>
<!--             <th>Type</th> -->
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.title}" /></td>     
             <td th:text="${event.date}"></td>
<!--              <td th:text="${event.type}"></td> -->
        </tr>
    </table>
	<a href="/addEvent">Add Event</a>
    <a href="/">Home</a>
</body>
</html>