<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}">Title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="http://www.oose.de"> OOSE </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="index.html"> Haus </a></li>
					<li><a href="javascript: document.logout.submit()"> Logout
					</a></li>
					<li><a th:href="@{/events}" href="/events"> Events </a></li>
					<li><a th:href="@{/bar}" href="/bar"> Something new </a></li>
				</ul>
			</div>
		</div>
		<h1 th:text="${title}">Title</h1>
		<div th:text="${message}">Hey! I an a fake content</div>
		<div id="created" th:text="${#dates.format(date)}">July 11, 2012
			2:17:16 PM CDT</div>
		<form name="logout" th:action="@{/logout}" action="/logout"
			method="POST"></form>
	</div>
</body>
</html>
