
[
  {
    "targets": [ {{ groups.backenddb | map('extract', hostvars, ['ansible_default_ipv4','address']) | zip_longest([], fillvalue=postgres_monitoring_port ) | map('join', ':') | map('regex_replace', '(.*)', '"\\1"') | join(',')  }} ],
    "labels": {
      "service": "backend_database",
      "environment": "{{ environment_name }}"
    }
  }
]
