
[
  {
    "targets": [ {{ groups.all | map('extract', hostvars, ['ansible_default_ipv4','address']) | zip_longest([], fillvalue=nodexporter_port ) | map('join', ':') | map('regex_replace', '(.*)', '"\\1"')  | join(',')  }} ],
    "labels": {
      "service": "backend_node",
      "environment": "{{ environment_name }}"
    }
  }
]
