[
  {
    "targets": [ {{ groups.backend | map('extract', hostvars, ['ansible_default_ipv4','address']) | zip_longest([], fillvalue=backend_management_port ) | map('join', ':') | map('regex_replace', '(.*)', '"\\1"') | join(',')  }} ],
    "labels": {
      "service": "backend",
      "environment": "{{ environment_name }}"
    }
  }
]