
[
  {
    "targets": [ {{ groups.graylog | map('extract', hostvars, ['ansible_default_ipv4','address']) | zip_longest([], fillvalue=graylog_rest_port ) | map('join', ':') | map('regex_replace', '(.*)', '"\\1"')  | join(',')  }} ],
    "labels": {
      "service": "graylog",
      "environment": "{{ environment_name }}"
    }
  }
]
