
[
  {
    "targets": [ {{ groups.all | map('extract', hostvars, ['ansible_default_ipv4','address']) | zip_longest([], fillvalue=cadvisor_port ) | map('join', ':') | map('regex_replace', '(.*)', '"\\1"') | join(',')  }} ],
    "labels": {
      "service": "backend_containers",
      "environment": "{{ environment_name }}"
    }
  }
]
